<div class="row">
  <div class="col pr-0">
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let notebook of notebooks"
        [class.active]="notebook === selectedNotebook"
        (click)="onSelect(notebook)">
        <span> {{ notebook.title }} </span>
      </li>
    </ul>
  </div>

  <div class="col pl-0 pr-0">
    <app-page-list [notebook]="selectedNotebook" (selectedPage)="selectedPage = $event"></app-page-list>
  </div>
  <div class="col-8">
    <app-page-content [page]="selectedPage"></app-page-content>
  </div>
</div>
